fmrs_model_low_res.py
low_res_basis/
low_res_dmat.csv
low_res_example/
low_res_example_cmd/
sort_from_processed.py
**/.DS_Store
cmd_group_res/
design.con
design.mat
fl_contrasts.json
pttest_contrasts
pttest_design
results_list
**/report.html
**/dynmrs_obj

